@import "tailwindcss";

@theme inline {
  --color-urs-navy: #0F2C59;
  --color-urs-green: #4CAF50;
  --color-urs-alert: #FF5722;
  --color-urs-bg: #F4F6F8;
  
  --font-almarai: var(--font-almarai);
  --font-cairo: var(--font-cairo);
}

body {
  background-color: var(--color-urs-bg);
  color: var(--color-urs-navy);
  font-family: var(--font-cairo), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-almarai), sans-serif;
}
